/* app css stylesheet */




.footer {
  border-top:20px solid white;
  bottom:0;
  left:0;
  right:0;
  z-index:100;
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}