/* app css stylesheet */

/*body {
  padding-top: 70px;
  padding-bottom: 30px;
}

*/

body {
  margin: 0 auto; 
  /*background-color: transparent;*/
}


#header {
  margin: 0 50 auto;
  height:667px;
  background: url(http://dofa.u.qiniudn.com/images/background/the_fallen_desktop_1600.jpg);
}

#navbar {
  position:absolute;
  margin: 0 auto;

}




.footer {
  border-top:20px solid white;
  bottom:0;
  left:0;
  right:0;
  z-index:100;
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}

.footer button {
  background-color: #333;
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 50px; 
} 